@{
    ViewData["Title"] = "Not Found page";
}

@if (ViewBag.ErrorMessage == null)
{
<h1>Sorry. The resource you requested could not be found</h1>
}
else
{
    <h1>@ViewBag.ErrorMessage</h1>
}

<hr />
<a asp-action="Index" asp-controller="Home">
    Click here to navigate to home page
</a>    