@{
    ViewData["Title"] = "Thank you Page";

}

<div class="title">
    <h1>
        Hvala na kupovini!
    </h1>
</div>

@section Scripts{

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/myHub.js"></script>
}

@*<script>

    $(document).ready(function () {
        $(function() {
    $('.title').css({
        'position' : 'absolute',
        'left' : '50%',
        'top' : '50%',
        'margin-left' : -$('.className').outerWidth()/2,
        'margin-top' : -$('.className').outerHeight()/2
    });
});
    });
</script>*@